.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
        height: 30px;
        width: 30px;
        position: fixed;
        line-height: 26px;
       margin-left: -33px;
       display: inline-table;
       z-index: 2;
       top:100px!important;

}